-- MySQL dump 10.13  Distrib 8.0.40, for Win64 (x86_64)
--
-- Host: 127.0.0.1    Database: heremate
-- ------------------------------------------------------
-- Server version	8.0.40

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Current Database: `heremate`
--

CREATE DATABASE /*!32312 IF NOT EXISTS*/ `heremate` /*!40100 DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci */ /*!80016 DEFAULT ENCRYPTION='N' */;

USE `heremate`;

--
-- Table structure for table `chat_room_reads`
--

DROP TABLE IF EXISTS `chat_room_reads`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `chat_room_reads` (
  `chat_room_id` bigint NOT NULL,
  `user_id` bigint NOT NULL,
  `last_read_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`chat_room_id`,`user_id`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `chat_room_reads_ibfk_1` FOREIGN KEY (`chat_room_id`) REFERENCES `chat_rooms` (`id`) ON DELETE CASCADE,
  CONSTRAINT `chat_room_reads_ibfk_2` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `chat_room_reads`
--

LOCK TABLES `chat_room_reads` WRITE;
/*!40000 ALTER TABLE `chat_room_reads` DISABLE KEYS */;
INSERT INTO `chat_room_reads` VALUES (1,1,'2025-11-24 18:36:04'),(1,5,'2025-09-22 17:14:31'),(2,5,'2025-09-22 17:14:38'),(3,1,'2025-11-25 17:56:35'),(3,6,'2025-11-25 19:04:26'),(4,1,'2025-11-25 18:24:37'),(4,6,'2025-11-25 19:04:33'),(5,1,'2025-11-25 18:12:19'),(6,1,'2025-11-25 18:25:01'),(6,7,'2025-11-25 18:23:51'),(7,6,'2025-11-25 19:04:28'),(7,7,'2025-11-25 18:23:53'),(8,1,'2025-11-25 18:25:02'),(8,7,'2025-11-25 18:23:54'),(9,1,'2025-11-25 18:25:16'),(9,6,'2025-11-25 19:04:32'),(9,7,'2025-11-25 18:22:40'),(10,1,'2025-11-25 18:24:58');
/*!40000 ALTER TABLE `chat_room_reads` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `chat_rooms`
--

DROP TABLE IF EXISTS `chat_rooms`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `chat_rooms` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `post_id` bigint DEFAULT NULL,
  `user1_id` bigint NOT NULL,
  `user2_id` bigint NOT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_chat_rooms_u1` (`user1_id`),
  KEY `idx_chat_rooms_u2` (`user2_id`),
  KEY `idx_chat_rooms_post` (`post_id`),
  CONSTRAINT `chat_rooms_ibfk_1` FOREIGN KEY (`post_id`) REFERENCES `posts` (`id`),
  CONSTRAINT `chat_rooms_ibfk_2` FOREIGN KEY (`user1_id`) REFERENCES `users` (`id`),
  CONSTRAINT `chat_rooms_ibfk_3` FOREIGN KEY (`user2_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `chat_rooms`
--

LOCK TABLES `chat_rooms` WRITE;
/*!40000 ALTER TABLE `chat_rooms` DISABLE KEYS */;
INSERT INTO `chat_rooms` VALUES (1,8,5,1,'2025-09-01 18:44:28'),(2,9,5,5,'2025-09-02 14:20:40'),(3,13,6,1,'2025-10-03 02:04:01'),(4,14,1,6,'2025-10-03 02:05:13'),(5,12,1,1,'2025-10-19 18:53:08'),(6,21,1,7,'2025-11-19 02:23:45'),(7,21,6,7,'2025-11-21 17:00:35'),(8,19,1,7,'2025-11-21 17:03:33'),(9,18,1,6,'2025-11-21 18:53:13'),(10,20,1,1,'2025-11-22 18:45:32');
/*!40000 ALTER TABLE `chat_rooms` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `messages`
--

DROP TABLE IF EXISTS `messages`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `messages` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `chat_room_id` bigint NOT NULL,
  `sender_id` bigint NOT NULL,
  `message` text NOT NULL,
  `sent_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_messages_room` (`chat_room_id`),
  KEY `idx_messages_sender` (`sender_id`),
  KEY `idx_messages_room_sent` (`chat_room_id`,`sent_at`,`id`),
  CONSTRAINT `messages_ibfk_1` FOREIGN KEY (`chat_room_id`) REFERENCES `chat_rooms` (`id`),
  CONSTRAINT `messages_ibfk_2` FOREIGN KEY (`sender_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=35 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `messages`
--

LOCK TABLES `messages` WRITE;
/*!40000 ALTER TABLE `messages` DISABLE KEYS */;
INSERT INTO `messages` VALUES (1,1,5,'ddd','2025-09-01 18:44:31'),(2,1,5,'ggg','2025-09-01 18:44:35'),(3,1,1,'?덈뀞?섏꽭??,'2025-09-05 22:15:50'),(4,1,1,'?덈뀞1','2025-09-08 17:46:24'),(5,1,1,'?덈뀞2','2025-09-08 17:46:27'),(6,1,5,'?덈뀞3','2025-09-08 17:46:50'),(7,1,1,'?덈뀞4','2025-09-08 19:00:44'),(8,1,1,'?덈뀞5','2025-09-08 19:32:33'),(9,1,5,'?덈뀞6','2025-09-08 19:33:04'),(10,1,1,'?덈뀞7','2025-09-08 19:33:22'),(11,1,1,'?덈뀞8','2025-09-09 17:37:01'),(12,1,1,'?덈뀞9','2025-09-09 18:43:52'),(13,3,6,'?덈뀞?섏꽭??','2025-10-03 02:04:10'),(14,4,1,'?덈뀞?섏꽭??,'2025-10-03 02:05:31'),(15,3,1,'?덈뀞','2025-10-03 03:05:34'),(16,4,1,'1','2025-10-03 03:06:50'),(17,4,1,'2','2025-10-03 03:06:51'),(18,4,1,'3','2025-10-03 03:06:52'),(19,4,1,'4','2025-10-03 03:06:53'),(20,4,1,'5','2025-10-03 03:06:54'),(21,4,1,'6','2025-10-03 03:06:55'),(22,4,1,'7','2025-10-03 03:06:55'),(23,4,1,'8','2025-10-03 03:06:56'),(24,4,1,'9','2025-10-03 03:06:56'),(25,4,1,'10','2025-10-03 03:06:58'),(26,4,1,'11','2025-10-19 18:53:25'),(27,4,1,'梨꾪똿 ?뚯뒪??11??18??,'2025-11-18 02:23:12'),(28,6,1,'?덈뀞?섏꽭?? ?꾨옉???ы뻾 媛숈씠 ?ㅻ땲怨??띠뼱??! ???22???ъ옄?낅땲?? ?덉닠履쎌쓣 ???뚯???紐삵븯吏留?醫뗭븘?댁슂 ?롢뀕','2025-11-19 02:24:29'),(29,6,1,'????ъ쭊 留롮씠 李띻퀬 ?띠뼱??媛숈씠 ?ㅻ땺 遺??덉쑝硫?醫뗭쓣 寃?媛숈븘?? 媛숈씠 ?щ컡???ы뻾 ?섍퀬 ?띠뒿?덈떦!','2025-11-19 02:24:54'),(30,6,7,'? 醫뗭븘?? 媛숈씠 留뚮굹???щ컡寃??ы뻾?댁슂~!','2025-11-19 02:26:49'),(31,7,6,'????덉닠履??꾧났?먯씤??媛숈씠 ?뚮━ ?ы뻾?섍퀬 ?띠뼱??','2025-11-21 17:01:25'),(32,8,1,'?덈뀞?섏꽭?? ???寃뚰븯 媛蹂닿퀬 ?띠뿀?붾뜲 媛숈씠 媛?ㅻ옒??','2025-11-21 17:03:57'),(33,9,1,'?덈뀞?섏꽭?? ???濡쒖뒪?붿젮?덉뒪?먯꽌 ?쇱뒪踰좉??ㅻ줈 ?대룞???덉젙?몃뜲, ?쇱뒪踰좉??ㅼ뿉??媛숈씠 ?ы뻾?섍퀬 ?띠뼱??','2025-11-21 18:53:56'),(34,6,1,'洹몃븣 逾먭쾶??','2025-11-25 18:13:09');
/*!40000 ALTER TABLE `messages` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `plan_items`
--

DROP TABLE IF EXISTS `plan_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `plan_items` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `plan_id` bigint NOT NULL,
  `day` date NOT NULL,
  `time` varchar(10) DEFAULT NULL,
  `place_name` varchar(200) DEFAULT NULL,
  `address` varchar(255) DEFAULT NULL,
  `lat` decimal(10,7) DEFAULT NULL,
  `lng` decimal(10,7) DEFAULT NULL,
  `memo` varchar(255) DEFAULT NULL,
  `sort_order` int NOT NULL DEFAULT '0',
  `place_id` varchar(128) DEFAULT NULL,
  `opening_hours` json DEFAULT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_plan_items_plan` (`plan_id`),
  KEY `idx_plan_items_day` (`day`),
  CONSTRAINT `fk_plan_items_plan` FOREIGN KEY (`plan_id`) REFERENCES `plans` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=153 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `plan_items`
--

LOCK TABLES `plan_items` WRITE;
/*!40000 ALTER TABLE `plan_items` DISABLE KEYS */;
/*!40000 ALTER TABLE `plan_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `plans`
--

DROP TABLE IF EXISTS `plans`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `plans` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` bigint NOT NULL,
  `title` varchar(120) NOT NULL,
  `country` varchar(100) DEFAULT NULL,
  `region` varchar(100) DEFAULT NULL,
  `start_date` date DEFAULT NULL,
  `end_date` date DEFAULT NULL,
  `notes` json DEFAULT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `is_shared` tinyint(1) NOT NULL DEFAULT '0',
  `prefs` json DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_plans_user` (`user_id`),
  KEY `idx_plans_shared_dates` (`is_shared`,`start_date`,`end_date`),
  KEY `idx_plans_country_region` (`country`,`region`)
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `plans`
--

LOCK TABLES `plans` WRITE;
/*!40000 ALTER TABLE `plans` DISABLE KEYS */;
INSERT INTO `plans` VALUES (1,5,'?ㅼ궗移?,'?쇰낯','?ㅼ궗移?,'2025-09-20','2025-09-22','{}','2025-09-05 13:55:52','2025-09-05 13:55:52',0,'[\"food\"]'),(2,5,'?꾩퓙','?쇰낯','?꾩퓙','2025-09-23','2025-09-30','{}','2025-09-05 14:03:40','2025-09-05 14:39:31',0,'[]'),(5,5,'?뉎뀋','??,'??,'2025-09-28','2025-10-06','{}','2025-09-05 18:25:51','2025-09-05 18:44:18',1,'[\"shopping\", \"food\"]'),(6,1,'?꾩퓙','?쇰낯 ','?꾩퓙','2025-09-14','2025-09-17','{\"2025-09-16\": \"鍮꾪뻾湲??⑤씪??泥댄겕???섍린\\n梨숆만寃? ?ш텒, 吏媛?", \"2025-09-17\": \"?쇳븨 ?곗씠\"}','2025-09-05 21:28:24','2025-09-05 22:30:52',1,'[]'),(7,1,'?꾩퓙 - 蹂듭궗','?쇰낯 ','?꾩퓙','2025-09-14','2025-09-17','{\"2025-09-16\": \"鍮꾪뻾湲??⑤씪??泥댄겕???섍린\\n梨숆만寃? ?ш텒, 吏媛?", \"2025-09-17\": \"?쇳븨 ?곗씠\"}','2025-09-05 21:29:45','2025-09-05 21:29:45',0,'[]'),(10,1,'?뚮━ ?쇱옄 ?ы뻾 ?쇱젙','?꾨옉??','?뚮━','2025-09-25','2025-10-01','{\"2025-09-25\": \"17???앸떦 ?덉빟??"}','2025-09-05 22:30:30','2025-09-05 22:30:31',1,'[]'),(11,1,'LA 移쒓뎄??媛?ㅺ뎄??!','誘멸뎅 ','LA','2025-10-02','2025-10-09','{\"2025-10-02\": \"3?쇱감???쇱뒪踰좉??ㅻ줈 ?대룞\"}','2025-09-05 22:32:11','2025-09-05 22:32:14',1,'[]'),(12,1,'?쇱뒪踰좉???,'誘멸뎅','?쇱뒪踰좎씠嫄곗뒪','2025-09-18','2025-09-24','{\"thumbnail_url\": \"/api/places/photo?name=places%2FChIJjeAnvVQGzIARjS7UQkRVwrE%2Fphotos%2FAWn5SU5XKGSGV8eafq9y3H_EvRb41IksipcFNE9awlibpCPkqPjMAB_5n2Q7U4slVOgx5Th5sMspv7Qj_90RO5NScfme9w_XnTMds9xmBEwqRjfF9r1SjxB_MYdGZ_a5dgNWa43FFelqEQX3SYN2kcV6bKJmrX6EF-k5L1nGBpg45-qX-_u51ZphaGrADymR1151Q7ijUK5oIDFlHTQ0F6iQ5Jy2yNGuhrtN5yCDbXIGJmaRHZOABU_mHgz3jzOKAv3DZaU5pJdOFC8LXu6Wm9O7s0I7KuXIaLVZiSVLIVj5BVVud2AbSf73958Su3h-JLnIbVct5MzjxxoFP04rWvLWTxQO-tqXF5pmr5aykUl-6bGEi_Z8ZXQQNT8Wkryo8qRNx66OCwq7j7rD3-rGsEnySoVmiFY37uv0QPoyeSUN13s&w=640&h=480\"}','2025-09-08 16:30:23','2025-11-08 15:38:54',1,'[\"activity\"]'),(13,1,'誘멸뎅?ы뻾','誘멸뎅','濡쒖뒪?ㅼ젮?덉뒪','2025-09-16','2025-09-18','{\"2025-09-16\": \"?붿쫰?덈옖??媛湲?", \"thumbnail_url\": \"/api/places/photo?name=places%2FChIJZeXhi9XX3IARYcIA6Qfcj2o%2Fphotos%2FAWn5SU4k45WG7ZOnrTHgBUqT9jXeUGj8f26C5jhXeD4bIk1qpTzYOIdwYdmwxncITF4guey5PS3JwhGFxHMx_m2pfDx-CjKEcqFTsbVHFDREOeyh2ZQ0htDZ5UawSKBwXTNdz0pUNtfcsxse3W_XghdQO8Er8ViyjnS7GWl_meHgEhCriDg0Hr7PRwz4jDh-d_kn3g4xwU9eDe6q5ieStAsEw3vVhTHx36L3aSTw2xd2p6UV52BHXnOivSfcLOytOBBLdNflizKP0215v1iqEBN5dk97GxmBxkEQI_WGw2F97svBsD_3mj58M8qUyuKvdYc4_JR0nSa75P4SMGGENUvEY3mjewAGJq3epkuFNJO4Hv_d6YMlaUNEijJhtuChdS2sP3a50u6GbPqXtrBP6YgcYgNpJ_hszuLZHe-QFvdFLjmHGg&w=640&h=480\"}','2025-09-08 18:29:53','2025-11-08 15:37:21',1,'[]'),(14,1,'?곹븯??1諛??쇱옄 ?ы뻾','以묎뎅','?곹븯??,'2025-10-30','2025-10-31','{\"thumbnail_url\": \"/api/places/photo?name=places%2FChIJeTeSUGiHrTURrNSkfYkOFGo%2Fphotos%2FAWn5SU7CIHidf3XySweznwKuhH8m5axNIDZ7RFuwWPMOUnFIYXA9ke_qZ22A7hnafYBL2QDPX-hbRsQMifRrnOog9pl-8Kqwd5KKHNcdqbZ09y-3r2om-Rx693O_nQQY1HcHliG3uTUNBVfSVrLSDWki5i82-BEtSMBiqS5DRR1UAwVisDHneWJLfzH9YddefWh8UT7DELOxC2PRcDLOKQjRfyi-eOPCNWf8tLV2Mg2Mp5IMgKILw4hTaEbtW_t4c9NzQDUhH9gf3QzrK5Pmt6y6IlcAZPK0JTQjGQyaVKpiriHncBbbpyw-j3whWLYu-_F6yTCjx9gHB-QdUcQIoiL5o8ZzcJO73P4Uh3CF6ghupk4wtsV31Asz-w1JtAaWMAJ5DC6yKlMluGdfn9Eh10DZncQuYiYxTHaOFbo2eGMLZVx3w-Ka&w=640&h=480\"}','2025-10-16 18:12:00','2025-11-08 15:44:53',1,'[\"food\"]'),(15,1,'?쒖슱 ?쇳븨 ?ы뻾','??쒕?援?,'?쒖슱','2025-11-12','2025-11-14','{\"thumbnail_url\": \"/api/places/photo?name=places%2FChIJ8xRYr29FezUR3AtFqx2pIlw%2Fphotos%2FAWn5SU6V-byQxkQ-hNgWaXyyXd10n-8ojdhUxcRvLgACouPxuk2YAMYeYJXibiON9IkDF7ChxbByFtRwSD_ZV9SwJDv0tiZxNycx_27a3vLd5YtQ9grJUFW9lgrEAZmLsbJRSZ_pgwumk-lKOUUyusfs1CpG87MfSRCmuhDVWQcy8NLT-xSXj0Fl1LiBLbRvxjnuFzRDYvSsUr2D0WD0ULifJyXg9XoDvKlEqBesT8VTiNrwiwUTlBlLMGhJwMN-n3dVCWfOqJzdggNI_1-CGtRP9kK7maHhqdtuMpLoxvXWWkcEwmhVbk8hMCk-CgcqW_n5SJlPYfjwMDkVwf8wWWTh4WylxE3EKhZ3rqKg1Sg3oIiAvkDLFi24fozSmywriaUx6VRiD2tNF6gnkKn9ofdxczIohLNtzRIyTVnTsIuG_aDYLz0g&w=640&h=480\"}','2025-11-05 18:11:49','2025-11-08 15:44:33',1,'[\"?쇳븨\", \"留쏆쭛\", \"?ъ쭊\"]'),(16,1,'?쒖슱 沅곸쨷 泥댄뿕','??쒕?援?,'?쒖슱','2025-11-19','2025-11-19','{\"thumbnail_url\": \"/api/places/photo?name=places%2FChIJsYP2VHSjfDURwAtqfCHFGfo%2Fphotos%2FAWn5SU6mnVyBah2aEfO1KuREx7ys8dpffxZrijjWTHf4uKFayYXX7t6FSxZrfWL_ava6FEH2vjrB_NeLTUDUfFX0Ziourdm-t0kHQuwwc8Ig3hLpqsPZHiDMyhBNhZ-h5t7GlXh3vwp-xPkGBcTOZHDRfn8rR7jblSJdrvh3YomKCULQ_DAJSi5Ub59SOj5_6_TR8XzEh4keqJBQheEC-CStfEKfj59o_5mn5nENVqwaVKHC70H5sLCr0qKmyxz2JseIaCJXLwTxZwSvltITstXKcAwIUP3wf00_FjM9-Bw5QUDhZjp93ueVAUs1nxYyZ3zihm4YYt7mrQmU4rzetWkxJScU0km-i1nKlepKoZAoxsT0MKcsWN0P7hgFaXq5W_TcnaO5olp7GrgO3zQXv9CxuD71V3qNBh-nLUpsYkV-teg&w=640&h=480\"}','2025-11-05 18:40:48','2025-11-08 15:43:56',1,'[\"泥댄뿕\"]'),(17,1,'?좎떎 ?ъ뼱','??쒕?援?,'?쒖슱','2025-11-12','2025-11-12','{\"thumbnail_url\": \"/api/places/photo?name=places%2FChIJY4ot2QqlfDURFzi2WmB3i6U%2Fphotos%2FAWn5SU53wRM7hztcQhvpGkPGcZZ0syUFQiGMWFoZFAJDEo7OUkAHL24zNQx8PH3rN0aQfCW0ARSqE5NdtZNWUxvQzJlEtwgCzAt-XdEOAHyJ6-wfJ-jr6SzGlJ7wOjRRqwLhk8V7k0r5LV8EKCY2IjmAbqELxPUbEIUFGITp0N8voXthZq928jQiG7BzsIW_c8iuSXFKHR3vdMO015w0TEk7-fAbs4_I2e4hA74uLUeWNu6sU9Q65ZmYPeY2qJl4YjjRiHzzEXz5XU4CUG1IdRiMMi4IyiK_dtbz1eXH4BL6X9pORZqE-VN_AypNrH7BzdVg4YwB69lrHc9VgT6hCdYExjRPJgnng-qatxt_IO675fBqxSHN6mfIsOkv-juyNayucq72KDLcj_KA5-oJtMWXQpPLWe15K_qt6qsEyuF279E&w=640&h=480\"}','2025-11-05 19:11:53','2025-11-08 15:43:08',1,'[]'),(18,1,'?뱀씪移섍린 ?쒖슱 ?ы뻾','??쒕?援?,'?쒖슱','2025-11-13','2025-11-13','{\"thumbnail_url\": \"/api/places/photo?name=places%2FChIJHyS4wtaifDURHzOOAZM0aWA%2Fphotos%2FAWn5SU5aX4CQ1NprKpJwmz_zAbqWHnfzL5zAwJrD3ypq5jyBxXDILSHdhYw-HKS8rsV6KahZMlmmw_8i1jY3aXN_HYh6z3sbuM99PS0KkVrKhsj9ZmpATStY1h_ZvPVBV7UVOhew97upBKKGER0h8ZT42gpt5aDgV1eaDbQcEXmeD9A-4MsOc8-wmFdGd7eAONLRL849YnRGP_DxULUVGVviaWN2G4ThKHpFQS06quSoZ8gQsG-ndyEUK1XZLZk4FopiDve11jNl8VGjbjMaIB61oYEi7Ko8iZlZzuhc_k4GrNYn_Cr-qU6X1ql0AqGaveKd4RU1C7hphgFgx46cyg_65Njjd1S5S6qGIECYt89QdD3e7FAvoRCcCCklvtTptAs6lRGlQv-ANQJoQUtS8RcLlKX1CNB0gqSqGCjQEr-nBUXDurhb&w=640&h=480\"}','2025-11-06 18:27:40','2025-11-19 02:19:23',1,'[]'),(19,1,'1諛?2???쒖슱 ?꾩떖 ?ы뻾','??쒕?援?,'?쒖슱','2025-11-13','2025-11-15','{\"thumbnail_url\": \"/api/places/photo?name=places%2FChIJod7tSseifDUR9hXHLFNGMIs%2Fphotos%2FAWn5SU40CAM_3rytseD8lCaxCBcvHVsHSmkLPAnF5YPthfEjk_B7lffVaK_56cDg9958cvTVe_emNSoDJQ9g0pBQwAhIbbXayddO5SDr-IaNnpRvKg8ypcx8aerALQWHfSv5_h2XjWuwPnU0iYXubtAXS-a-JoETp9_yz_9-knU628_MqOX5i_KuPkMirjeGESs204gD1Lrtr0AjgBd_2eMKd-yU4zcn3BDPMjIb5jgltoWBzcK6ADA_rX6sZVcpVtuV3mTj_YMUhTOtIC1tT-_gaLTrNaVJxR198HMQX14KEA-fPrt5LzadiJh6Ts75-kc39NSmBYggzRYJKqqqpQ_Pe9lzhWMvhrk0Tadh7B2Yw8bvWFD4VrO4nY5Bb9sJEoYTB_jxiXcT-C1ZWeyNsdeed8q4AkRIRmG9ZtC_X5yaUopcQsxb&w=640&h=480\"}','2025-11-06 18:53:51','2025-11-08 15:41:41',1,'[\"?ъ쭊\", \"?쇳븨\"]'),(20,1,'援먰넗 ?⑦뭾 ?ы뻾','?쇰낯','援먰넗','2025-11-19','2025-11-21','{\"thumbnail_url\": \"/api/places/photo?name=places%2FChIJqd987cMIAWARX42DjjMJ3FY%2Fphotos%2FAWn5SU69QT70FnWexmpaW73WpopdJhHnvYMvvc70SlzY9t0mNWSvxuM2fVOoJdKG5YV3LHIrt44SMs-dMKPl0TRAzXgCb-E4OK8XGhcQ4KpexaUSbnLEL7MVrpsurb4tdNGu_cHMUUlkFFf--yqEyUbPsBCu4BSAyRfFbTf53gISTC1EqjlJVQl2gPgeXK1Nr0YVVElpF7q4wgB7UhkZ2VGlYHeHSxLNAZ1s6LibVkFsyAYD-HoGVIdX5GQGsIaG8MHAf4dqgVppUdgK9QwdVcald-tq9epB73tlSf7CZ4mS_0GvqTqkb94uNgc7Il2iteECvsJZxOEI5F37DM9v0C7ontfwaXZ9rxcQnqLYtLlImJJ80wo74QE89937X-EfDGUkwRbZra8lBRXNrxOjJE2yKRWK0M2_v9Pg4mlay-z9f_8Z5TGt&w=640&h=480\"}','2025-11-08 17:23:11','2025-11-08 17:23:17',1,'[]');
/*!40000 ALTER TABLE `plans` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `posts`
--

DROP TABLE IF EXISTS `posts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `posts` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `writer_id` bigint NOT NULL,
  `title` varchar(255) NOT NULL,
  `content` text,
  `location` varchar(255) DEFAULT NULL,
  `view_count` int DEFAULT '0',
  `is_matched` tinyint(1) DEFAULT '0',
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `travel_style` varchar(255) DEFAULT NULL,
  `start_date` date DEFAULT NULL,
  `end_date` date DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `writer_id` (`writer_id`),
  CONSTRAINT `posts_ibfk_1` FOREIGN KEY (`writer_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=22 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `posts`
--

LOCK TABLES `posts` WRITE;
/*!40000 ALTER TABLE `posts` DISABLE KEYS */;
INSERT INTO `posts` VALUES (2,1,'2','2','2',0,0,'2025-06-17 05:34:18',NULL,NULL,NULL),(3,1,'3','333','33',0,0,'2025-06-17 16:25:09',NULL,NULL,NULL),(4,1,'4','44','4',0,0,'2025-06-17 16:56:25',NULL,NULL,NULL),(5,1,'55555','555555555','?꾩퓼?ㅼ뭅',0,0,'2025-08-28 02:02:42',NULL,NULL,NULL),(6,1,'66','666666','?꾩퓙',0,0,'2025-08-28 02:03:36',NULL,NULL,NULL),(7,1,'7','777','?ㅼ궗移?,0,0,'2025-08-28 02:10:31','?먯뿰',NULL,NULL),(8,1,'8','88','?쒖＜',0,0,'2025-08-28 03:12:21','?먯뿰','2025-09-03','2025-10-10'),(9,5,'?ㅼ궗移?3諛?4???숉뻾 援ы빐??,'USJ???꾪넠蹂대━ 媛怨??띠뒿?덈떎.','?ㅼ궗移?,0,0,'2025-09-01 19:15:13','?뚮쭏?뚰겕','2025-09-15','2025-09-18'),(10,1,'LA ?붿쫰???쒕뱶 ?숉뻾 援ы빀?덈떎. ','?꾩묠 10??易?留뚮굹??媛숈씠 媛????덉쑝硫?醫뗪쿋?댁슂!\n?뚯븘?щ븣???먰븯?쒕㈃ 媛숈씠 ???n?명븯寃?梨꾪똿 二쇱꽭??~','LA',0,0,'2025-09-05 22:36:07','?ъ쭊','2025-09-25','2025-09-25'),(11,1,'?꾨옉???뚮━ 媛숈씠 ?ы뻾 ?ㅻ땲??遺?援ы빀?덈떎','?뚮━?먯꽌 媛숈씠 ?ㅻ땲???⑥옄遺?援ы빐??,'?꾨옉???뚮━',0,0,'2025-09-05 22:36:53','?덉닠','2025-09-17','2025-09-18'),(12,1,'?쒖＜???뚰듃?댁꽌 媛숈씠 ?ㅻ땲??遺?,'?댁쟾 媛?ν븯??遺꾩쑝濡?援ы븯怨??덉뒿?덈떎\n?명븯寃??곕씫 二쇱꽭??','?쒖＜??,0,0,'2025-09-05 22:37:34','?먯뿰','2025-09-19','2025-09-21'),(13,1,'10?????뚯뒪??,'1諛?2???ы뻾 媛숈씠 ?ㅻ땺 遺?援ы빐??,'?꾩퓙',0,0,'2025-10-03 02:03:32','?쇳븨','2025-10-14','2025-10-15'),(14,6,'10??3???뚯뒪??2','?ы뻾 媛숈씠 ?ㅻ땺 遺?援ы빀?덈떎','?꾩퓼?ㅼ뭅',0,0,'2025-10-03 02:04:58','留쏆쭛','2025-10-17','2025-10-18'),(15,6,'?뚯뒪??6','?뚯뒪??','誘멸뎅 ?섏????몃?猷곕（) (United States Honolulu (Hawaii))',0,0,'2025-11-18 00:12:52','?먯뿰','2025-11-26','2025-11-27'),(16,1,'?쒖＜??媛숈씠 ?ы뻾媛???ъ옄遺?援ы빐??','?쒖＜?꾩뿉??媛숈씠 ?뚰듃?댁꽌 ?ㅻ땲怨??띠뼱?? \n?댁쟾? ?쒓? ?좉굅?쇱꽌 ?댁쟾 紐삵븯?붾룄 愿쒖갖?꾩슂!!\n媛숈씠 ?ы뻾?ㅻ땲硫댁꽌 留쏆쭛?먮갑?섍퀬 ?덉걶 ?ъ쭊 李띿뼱??','??쒕?援??쒖＜ (Korea, Republic of Jeju)',0,0,'2025-11-19 01:47:48','?먯뿰,留쏆쭛,?ъ쭊','2025-11-25','2025-11-26'),(17,6,'?ㅼ궗移??ы뻾 媛숈씠 ?ㅻ땲??遺?援ы빀?덈떎!','?숈냼??鍮꾩슜???앷컖蹂대떎 鍮꾩떥???몄쐢移⑤?濡?諛?媛숈씠 ?곗떎 ?⑥옄遺?援ы빀?덈떎!\n?먰븯?좊떎硫?????ы뻾??媛숈씠 ?ㅻ땲怨??띠뼱?? \n梨꾪똿?쇰줈 媛꾨떒???먭린?뚭컻???섏씠 遺?곷뱶由닿쾶??\n二꾩넚?섏?留??좉?媛 ?덈??댁꽌 ?좊쾭由??ы븯??遺꾩? ?뺤쨷???ъ뼇?⑸땲????,'?쇰낯 ?ㅼ궗移?媛꾩궗??)',0,0,'2025-11-19 01:54:42','留쏆쭛','2025-12-24','2025-12-26'),(18,6,'?쇱뒪踰좉??ㅼ뿉??洹몃옖?쒖틦???ы뻾','?쇱뒪踰좉??ㅼ뿉??留뚮굹??媛숈씠 洹몃옖??罹먮뀈?대옉 ?щ윭 罹먮뀈???ъ뼱 媛숈씠 ?ㅻ땺 遺?援ы빀?덈떎!\n?댁쟾? 援먮?濡??덉쑝硫?醫뗪쿋?댁꽌 ?댁쟾 媛?ν븯??遺꾨쭔 ?곕씫 二쇱꽭??\n?쇱옄 ?ㅻ옒 ?댁쟾?섎㈃ ?ъ떖??寃?媛숈븘???쇳뻾 援ы빐?? \n1??20?쇱뿉??24??以??댄??뺣룄 媛?ㅺ퀬 ?섍퀬, 2紐낆젙??援ы븯?ㅺ퀬 ?⑸땲?? \n?명븯寃??곕씫 二쇱꽭??','誘멸뎅 ?쇱뒪踰좎씠嫄곗뒪',0,0,'2025-11-19 02:00:09','?먯뿰,?ъ쭊','2026-01-20','2026-01-24'),(19,7,'?좊읇 ?ы뻾 寃뚰븯 媛숈씠 媛??遺?援ы빐??','?좊읇?먯꽌 寃뚰븯媛???멸뎅??移쒓뎄 留뚮뱾?대낫怨??띠???\n?쒓? 移쒗븳 ?щ엺???놁쑝硫??ㅻⅨ ?щ엺?쒗뀒 留먭굅?붽구 ??紐삵빐?쒖슂.. \n洹몃옒???쒓뎅?몄씠 媛숈씠 ?덉쑝硫?留덉쓬??醫 ?볦씪 寃?媛숆린???댁꽌 援ы빀?덈떎!\n媛숈씠 ?멸뎅?몄튇援?留뚮뱾?댁꽌 ?ы뻾?댁슂!','?낆씪 裕뚰뿨',0,0,'2025-11-19 02:04:11','?덉닠,??궗','2025-11-28','2025-12-03'),(20,1,'罹먮굹???ㅽ궎 ?ы뻾','罹먮굹?ㅼ뿉???ㅽ궎 ?ы뻾?섎뒗寃???踰꾪궥由ъ뒪??以??섎굹?몃뜲, \n?쇱옄 媛硫??ъ떖??寃?媛숈븘???숉뻾 援ы빐??!\n????쒓뎅 ?ㅽ궎?μ뿉??以묒긽湲??뺣룄 ????ㅻ젰?닿퀬, \n媛숈씠 媛?쒕뒗 遺꾨룄 ???鍮꾩듂???ㅻ젰?대㈃ 醫뗪쿋?댁슂. \n?깅퀎 ?섏씠 ?곴??놁씠 ?명븯寃??곕씫 二쇱꽭??! \n3紐낆젙??紐⑥븘??4紐낆씠??媛硫???醫뗭쓣 寃?媛숈븘??^','罹먮굹???꾩뒳??,0,0,'2025-11-19 02:07:15','泥댄뿕,?먯뿰','2026-01-14','2026-01-16'),(21,7,'?꾨옉???뚮━ ?ы뻾 媛숈씠 ?ㅻ땲??遺?援ы빐??','????낆씪?먯꽌 ?ы뻾?섎떎媛 ?뚮━濡??섏뼱媛?怨꾪쉷?댁뿉??\n洹몃옒??12??2????곷???媛숈씠 ?ы뻾?섏떎 遺?援ы빀?덈떎. \n?몄깮??嫄댁?怨??띠뼱???ъ쭊 ??李띿쑝?쒕뒗 遺꾩씠硫???醫뗭쓣 寃?媛숈븘???롢뀕\n諛뺣Ъ愿?대굹 誘몄닠愿??媛숈씠 媛怨??띠???????덉닠 履???紐곕씪?? \n???꾩떆??遺꾩씠硫???醫뗭쓣 寃?媛숈븘?? \n??紐⑤Ⅴ?쒕뜑?쇰룄 ?덉닠 履?愿?ъ엳??遺꾩씠硫??섏쁺?댁슂! ?곕씫 二쇱꽭??!','?꾨옉???뚮━',0,0,'2025-11-19 02:10:46','?덉닠,?ъ쭊','2025-12-02','2025-12-04');
/*!40000 ALTER TABLE `posts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `reports`
--

DROP TABLE IF EXISTS `reports`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `reports` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `reporter_id` bigint NOT NULL,
  `target_user_id` bigint NOT NULL,
  `context` enum('chat','mate_post','trip','story','story_comment') NOT NULL,
  `reason` enum('spam','abuse','scam','nsfw','noshow','etc') NOT NULL,
  `ref_id` bigint DEFAULT NULL,
  `severity` int DEFAULT '0',
  `status` enum('pending','approved','rejected') DEFAULT 'pending',
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `detail` text,
  PRIMARY KEY (`id`),
  KEY `idx_target` (`target_user_id`),
  KEY `idx_status` (`status`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `reports`
--

LOCK TABLES `reports` WRITE;
/*!40000 ALTER TABLE `reports` DISABLE KEYS */;
/*!40000 ALTER TABLE `reports` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `reviews`
--

DROP TABLE IF EXISTS `reviews`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `reviews` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `reviewer_id` bigint NOT NULL,
  `target_id` bigint NOT NULL,
  `trip_id` bigint NOT NULL,
  `emotion` enum('positive','neutral','negative') NOT NULL,
  `tags` json DEFAULT NULL,
  `comment` varchar(500) DEFAULT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_once` (`reviewer_id`,`target_id`,`trip_id`),
  UNIQUE KEY `uq_reviews_reviewer_target_trip` (`reviewer_id`,`target_id`,`trip_id`),
  KEY `idx_target` (`target_id`),
  KEY `idx_trip` (`trip_id`),
  KEY `idx_reviews_target_created` (`target_id`,`created_at`),
  KEY `idx_reviews_trip` (`trip_id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `reviews`
--

LOCK TABLES `reviews` WRITE;
/*!40000 ALTER TABLE `reviews` DISABLE KEYS */;
INSERT INTO `reviews` VALUES (1,6,2,2,'positive','[\"???? ??\", \"?? ? ???\"]',NULL,'2025-11-11 21:21:27'),(2,6,1,3,'positive','[\"???? ??\", \"?? ? ???\"]',NULL,'2025-11-12 19:31:05'),(3,1,6,5,'positive','[\"talk\", \"food\", \"on_time\"]','?????댄뼢?곸씠???댁쭩 ?댁깋?덉?留?洹몃옒?????ы뻾?덉뒿?덈떎.','2025-11-22 21:02:58'),(4,6,1,5,'positive','[\"talk\"]','利먭굅???쒓컙 蹂대깉?듬땲??','2025-11-24 17:29:14');
/*!40000 ALTER TABLE `reviews` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `stories`
--

DROP TABLE IF EXISTS `stories`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `stories` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` bigint NOT NULL,
  `plan_id` bigint DEFAULT NULL,
  `title` varchar(100) NOT NULL,
  `description` text,
  `thumbnail_url` varchar(255) DEFAULT NULL,
  `media` json NOT NULL,
  `like_count` int NOT NULL DEFAULT '0',
  `comment_count` int NOT NULL DEFAULT '0',
  `is_public` tinyint(1) NOT NULL DEFAULT '1',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_stories_user` (`user_id`),
  KEY `idx_stories_plan` (`plan_id`),
  KEY `idx_stories_created` (`created_at`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `stories`
--

LOCK TABLES `stories` WRITE;
/*!40000 ALTER TABLE `stories` DISABLE KEYS */;
INSERT INTO `stories` VALUES (1,1,NULL,'諛댁퓼踰?LA ?ы뻾','諛댁퓼踰? 諛댄봽, LA ?ы뻾 ?ъ쭊 ?ㅽ넗由?,'/uploads/stories/d13791cb12a76ee2d40c54063c7f9175','[{\"url\": \"/uploads/stories/9ca55a8417a07d1dcd55053d2da7b859\", \"type\": \"image\", \"index\": 0, \"caption\": null}, {\"url\": \"/uploads/stories/e066b91fff17196708fe6d9e5d4de68e\", \"type\": \"image\", \"index\": 1, \"caption\": null}, {\"url\": \"/uploads/stories/295bc797a02238bf545562724a9b618e\", \"type\": \"image\", \"index\": 2, \"caption\": null}, {\"url\": \"/uploads/stories/fcc694e8959927a8f9b13e3cc3b7dde1\", \"type\": \"image\", \"index\": 3, \"caption\": null}, {\"url\": \"/uploads/stories/d13791cb12a76ee2d40c54063c7f9175\", \"type\": \"image\", \"index\": 4, \"caption\": null}]',0,0,1,'2025-11-16 20:27:17','2025-11-16 20:27:17'),(2,1,0,'諛댄봽???몄닔??,'諛댄봽 ?ы뻾?먯꽌 留뚮궃 ?몄닔??,'/uploads/stories/72d5d607f2685017407695322e10d8cc','[{\"url\": \"/uploads/stories/d3e594a090f8c798e8888cb0b2cba624\", \"type\": \"image\", \"index\": 0, \"caption\": {\"text\": \"Eleanor Lake - 諛댄봽 ?ы뻾\", \"color\": \"#ffffff\", \"fontSize\": \"sm\", \"position\": \"top\"}}, {\"url\": \"/uploads/stories/e5c8af816df442ab74336e869ab16de1\", \"type\": \"image\", \"index\": 1, \"caption\": {\"text\": \"Peyto Lake - 諛댄봽 ?ы뻾\", \"color\": \"#000000\", \"fontSize\": \"md\", \"position\": \"center\"}}, {\"url\": \"/uploads/stories/72d5d607f2685017407695322e10d8cc\", \"type\": \"image\", \"index\": 2, \"caption\": {\"text\": \"Lake Louise -  諛댄봽?ы뻾\", \"color\": \"#f97316\", \"fontSize\": \"lg\", \"position\": \"bottom\"}}]',0,0,1,'2025-11-17 17:26:08','2025-11-17 17:26:08');
/*!40000 ALTER TABLE `stories` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `story_comments`
--

DROP TABLE IF EXISTS `story_comments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `story_comments` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `story_id` bigint NOT NULL,
  `user_id` bigint NOT NULL,
  `content` text NOT NULL,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `deleted_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_story_comments_story` (`story_id`),
  KEY `idx_story_comments_user` (`user_id`),
  KEY `idx_story_comments_created` (`created_at`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `story_comments`
--

LOCK TABLES `story_comments` WRITE;
/*!40000 ALTER TABLE `story_comments` DISABLE KEYS */;
/*!40000 ALTER TABLE `story_comments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `story_likes`
--

DROP TABLE IF EXISTS `story_likes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `story_likes` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `story_id` bigint NOT NULL,
  `user_id` bigint NOT NULL,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uniq_story_like` (`story_id`,`user_id`),
  KEY `idx_story_likes_story` (`story_id`),
  KEY `idx_story_likes_user` (`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `story_likes`
--

LOCK TABLES `story_likes` WRITE;
/*!40000 ALTER TABLE `story_likes` DISABLE KEYS */;
/*!40000 ALTER TABLE `story_likes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `travel_relations`
--

DROP TABLE IF EXISTS `travel_relations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `travel_relations` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` bigint NOT NULL,
  `partner_id` bigint NOT NULL,
  `trips_count` int DEFAULT '0',
  `last_trip_date` datetime DEFAULT NULL,
  `pos_ratio` float DEFAULT '0',
  `relation_strength` float DEFAULT '0',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_pair` (`user_id`,`partner_id`),
  KEY `idx_user` (`user_id`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `travel_relations`
--

LOCK TABLES `travel_relations` WRITE;
/*!40000 ALTER TABLE `travel_relations` DISABLE KEYS */;
INSERT INTO `travel_relations` VALUES (1,1,2,1,'2025-06-22 00:00:00',0,0.141734),(2,2,1,1,'2025-06-22 00:00:00',0,0.141734),(3,2,6,1,'2025-06-22 00:00:00',1,0.283469),(4,6,2,1,'2025-06-22 00:00:00',0,0.141734),(5,6,1,3,'2025-11-21 00:00:00',1,0.632121),(6,1,6,3,'2025-11-21 00:00:00',1,0.632121),(7,1,7,1,'2025-11-22 00:00:00',0,0.141734),(8,7,1,1,'2025-11-22 00:00:00',0,0.141734);
/*!40000 ALTER TABLE `travel_relations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `trip_meet_signals`
--

DROP TABLE IF EXISTS `trip_meet_signals`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `trip_meet_signals` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `trip_id` bigint NOT NULL,
  `user_id` bigint NOT NULL,
  `kind` enum('button','gps_near','gps_confirm') NOT NULL,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_trip_kind_created` (`trip_id`,`kind`,`created_at`),
  KEY `idx_trip_user` (`trip_id`,`user_id`),
  CONSTRAINT `fk_trip_meet_signals_trip` FOREIGN KEY (`trip_id`) REFERENCES `trips` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `trip_meet_signals`
--

LOCK TABLES `trip_meet_signals` WRITE;
/*!40000 ALTER TABLE `trip_meet_signals` DISABLE KEYS */;
INSERT INTO `trip_meet_signals` VALUES (1,5,6,'button','2025-11-20 20:16:13'),(2,5,1,'button','2025-11-20 20:16:32'),(3,7,7,'button','2025-11-21 17:04:36'),(4,7,1,'button','2025-11-21 17:04:57');
/*!40000 ALTER TABLE `trip_meet_signals` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `trips`
--

DROP TABLE IF EXISTS `trips`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `trips` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `user_a` bigint NOT NULL,
  `user_b` bigint NOT NULL,
  `mate_post_id` bigint DEFAULT NULL,
  `title` varchar(200) DEFAULT NULL,
  `start_date` date NOT NULL,
  `end_date` date NOT NULL,
  `met_at` datetime DEFAULT NULL,
  `meet_method` enum('button','gps','none') DEFAULT 'none',
  `status` enum('pending','ready','met','finished','cancelled') DEFAULT 'pending',
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `meet_started_by` bigint DEFAULT NULL,
  `meet_expires_at` datetime DEFAULT NULL,
  `met_method` enum('button','gps') DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_user_a` (`user_a`),
  KEY `idx_user_b` (`user_b`),
  KEY `idx_post` (`mate_post_id`),
  KEY `idx_status` (`status`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `trips`
--

LOCK TABLES `trips` WRITE;
/*!40000 ALTER TABLE `trips` DISABLE KEYS */;
INSERT INTO `trips` VALUES (1,1,2,NULL,'?뚯뒪???ы뻾','2025-06-20','2025-06-22','2025-11-11 20:40:54','button','finished','2025-11-11 20:40:54','2025-11-11 20:40:54',NULL,NULL,NULL),(2,6,2,NULL,'?뚯뒪???ы뻾(6??)','2025-06-20','2025-06-22','2025-11-11 21:18:07','button','finished','2025-11-11 21:18:07','2025-11-11 21:18:07',NULL,NULL,NULL),(3,6,1,NULL,'?뚯뒪???ы뻾(6??)','2025-06-20','2025-06-22','2025-11-12 19:28:54','button','finished','2025-11-12 19:28:54','2025-11-12 19:28:54',NULL,NULL,NULL),(4,7,1,21,'?꾨옉???뚮━ ?ы뻾 媛숈씠 ?ㅻ땲??遺?援ы빐??','2025-12-22','2025-12-23',NULL,'none','ready','2025-11-20 20:10:23','2025-11-20 20:11:29',NULL,NULL,NULL),(5,1,6,14,'10??3???뚯뒪??2','2025-11-20','2025-11-20','2025-11-20 20:16:32','button','met','2025-11-20 20:15:49','2025-11-20 20:16:32',NULL,NULL,NULL),(6,6,1,13,'10?????뚯뒪??,'2025-11-28','2025-11-28',NULL,'none','ready','2025-11-21 17:02:16','2025-11-21 17:02:53',NULL,NULL,NULL),(7,1,7,19,'?좊읇 ?ы뻾 寃뚰븯 媛숈씠 媛??遺?援ы빐??','2025-11-21','2025-11-22','2025-11-21 17:04:57','button','met','2025-11-21 17:04:08','2025-11-21 17:04:57',NULL,NULL,NULL),(8,1,6,18,'?쇱뒪踰좉??ㅼ뿉??洹몃옖?쒖틦???ы뻾','2025-11-21','2025-11-21','2025-11-21 20:54:56','button','met','2025-11-21 20:48:22','2025-11-21 20:54:56',NULL,NULL,NULL);
/*!40000 ALTER TABLE `trips` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Temporary view structure for view `user_trust_summary`
--

DROP TABLE IF EXISTS `user_trust_summary`;
/*!50001 DROP VIEW IF EXISTS `user_trust_summary`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `user_trust_summary` AS SELECT 
 1 AS `user_id`,
 1 AS `positive_ratio`,
 1 AS `unique_partners`,
 1 AS `trips_total`*/;
SET character_set_client = @saved_cs_client;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `email` varchar(255) NOT NULL,
  `password` varchar(255) DEFAULT NULL,
  `nickname` varchar(100) DEFAULT NULL,
  `avatar_url` varchar(255) DEFAULT NULL,
  `bio` text,
  `age` int DEFAULT NULL,
  `gender` enum('male','female','other') DEFAULT NULL,
  `preferences` text,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `kakao_id` varchar(255) DEFAULT NULL,
  `role` enum('user','admin') DEFAULT 'user',
  `email_verified` tinyint(1) NOT NULL DEFAULT '0',
  `aura_tone` enum('warm','neutral','cool') DEFAULT 'neutral',
  `aura_intensity` float DEFAULT '0.3',
  `aura_score` float DEFAULT '50',
  `constellation_score` float DEFAULT '0',
  `email_verify_token` varchar(64) DEFAULT NULL,
  `email_verify_expires` datetime DEFAULT NULL,
  `reset_code` varchar(6) DEFAULT NULL,
  `reset_code_expires` datetime DEFAULT NULL,
  `provider` varchar(20) NOT NULL DEFAULT 'local',
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`),
  UNIQUE KEY `kakao_id` (`kakao_id`),
  UNIQUE KEY `idx_users_nickname` (`nickname`),
  KEY `idx_users_kakao_id` (`kakao_id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
INSERT INTO `users` VALUES (1,'juhwi0208@gmail.com',NULL,'肄붿븣??,'/uploads/avatars/1_1763461536556.jpg','?덈뀞?섏꽭?? 媛숈씠 利먭쾪寃??ы뻾 ?ㅻ???',NULL,NULL,NULL,'2025-06-15 18:28:11','4293478389','user',1,'warm',0.62,76.6667,48.4449,NULL,NULL,NULL,NULL,'local'),(3,'admin@example.com','$2b$10$kqCeG1dGNF5GNubcsQ0p3.K4sxcbf2ISMWOsvGHVumI75mIgLkeGi','愿由ъ옄',NULL,NULL,NULL,NULL,NULL,'2025-06-16 18:15:47',NULL,'admin',0,'neutral',0.3,50,0,NULL,NULL,NULL,NULL,'local'),(5,'deleted+5@example.invalid',NULL,'?덊눜?뚯썝5',NULL,'',NULL,NULL,NULL,'2025-09-01 18:44:17',NULL,'user',0,'neutral',0.3,50,0,NULL,NULL,NULL,NULL,'local'),(6,'juhwi020813@gmail.com','$2b$10$8JePj0McQIkaC09mYBCiie6zAiAhfnDSKsAlcMtWwU4xan0xsuoka','?ъ떖?쒖퐫?쇰━','/uploads/avatars/6_1763484701445.jpg','',NULL,NULL,NULL,'2025-09-25 15:13:59',NULL,'user',1,'warm',0.564,72,40.7122,NULL,NULL,NULL,NULL,'local'),(7,'juhwi0208@naver.com','$2b$10$AjYq6XqyxgsfDlyuuLotA.Qf/jXfLr7T5zE4idkQnd61Ydw.u0VfS','議몃┛?ъ옄','/uploads/avatars/7_1763485232298.jpg','',NULL,NULL,NULL,'2025-11-19 01:56:35',NULL,'user',1,'neutral',0.48,65,11.0066,NULL,NULL,NULL,NULL,'local');
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `warnings`
--

DROP TABLE IF EXISTS `warnings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `warnings` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` bigint NOT NULL,
  `reason` varchar(64) NOT NULL,
  `severity` int DEFAULT '0',
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `expires_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_user` (`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `warnings`
--

LOCK TABLES `warnings` WRITE;
/*!40000 ALTER TABLE `warnings` DISABLE KEYS */;
/*!40000 ALTER TABLE `warnings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Current Database: `heremate`
--

USE `heremate`;

--
-- Final view structure for view `user_trust_summary`
--

/*!50001 DROP VIEW IF EXISTS `user_trust_summary`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `user_trust_summary` AS select `u`.`id` AS `user_id`,coalesce((sum((case when (`r`.`emotion` = 'positive') then 1 else 0 end)) / nullif(count(`r`.`id`),0)),0) AS `positive_ratio`,count(distinct `tr`.`partner_id`) AS `unique_partners`,coalesce(sum(`tr`.`trips_count`),0) AS `trips_total` from ((`users` `u` left join `reviews` `r` on((`r`.`target_id` = `u`.`id`))) left join `travel_relations` `tr` on((`tr`.`user_id` = `u`.`id`))) group by `u`.`id` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-11-25 20:09:54
